.hero-dark {
    min-height: 100vh;
    padding-top: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0, 0.3), rgba(0, 0, 0, 1)),
    url("../assets/herobg.png") center/cover fixed no-repeat;
}

.hero-light {
    min-height: calc(100vh - 66px);
    padding-top: calc(20vh - 66px);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, 1)),
    url("../assets/herobg.png") center/cover fixed no-repeat;
}

.dark {
    color: white;
}

.light {
    color: black;
}